In [1]:
from lxml import etree
import pandas as pd
from collections import Counter
import os
import glob
import re
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter
from numpy import array
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


wdir = "../../../sexual-annotation/"
file_bible = "TEIBible" # "*.xml"
file_taxonomy = "taxonomy"
outdir = "../../../resulting data/"

In [2]:
sys.path.append(os.path.abspath("./../../../../../MTB/Göttingen/research/"))

In [3]:
from librarian_robot import transform_data

In [6]:
binary_tokens_df = pd.read_parquet("./../../../resulting data/tokens_reinaValera95_binary.parquet")

In [8]:
binary_tokens_df = transformed_tokens_df

In [9]:
binary_tokens_df

,,!,"""",',(,),",",-,.,000,...,últimos,únase,úngelo,única,únicamente,único,únicos,úselo,útil,útiles
verse_id,,,,,,,,,,,,,,,,,,,,,
b.GEN.001.001,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
b.GEN.001.002,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
b.GEN.001.003,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
b.GEN.001.004,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
b.GEN.001.005,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b.REV.022.017,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
b.REV.022.018,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
b.REV.022.019,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
b.REV.022.020,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
b.REV.022.021,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
binary_tokens_df.sum().sort_values().index

útiles             1
bola               1
bolas              1
maravillaos        1
bolsita            1
               ...
y              19458
de             20779
.              24865
,              25894
               31065
Length: 29213, dtype: int64

In [27]:
binary_tokens_df = binary_tokens_df[binary_tokens_df.sum().sort_values(ascending=False).index]

In [29]:
binary_tokens_df

,,",",.,de,y,que,a,la,el,los,...,bondadosamente,bondadosa,maravilladas,bonanza,bolsitas,bolsita,maravillaos,bolas,bola,útiles
verse_id,,,,,,,,,,,,,,,,,,,,,
b.GEN.001.001,1,0,1,0,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
b.GEN.001.002,1,1,1,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
b.GEN.001.003,1,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
b.GEN.001.004,1,1,1,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
b.GEN.001.005,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b.REV.022.017,1,1,1,1,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
b.REV.022.018,1,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
b.REV.022.019,1,1,1,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
b.REV.022.020,1,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b.REV.022.021,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
verses_features = pd.read_parquet("./../../../resulting data/verses_features.parquet")

In [11]:
verses_features

,bible_identifier,bible_book,bible_chapter,bible_book_chapter,genre,twitter_freq_sum_2014_2015,twitter_freq_2014,twitter_freq_2015,relations,monogamy,...,#org35,#org439,#pla65,#pla68,#per116,#per119,#pla67,#org52,#per129,#pla74
0,b.GEN.001.001,GEN,001,GEN.001,historical,49268,26376,22892,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b.GEN.001.002,GEN,001,GEN.001,historical,8601,3693,4908,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b.GEN.001.003,GEN,001,GEN.001,historical,20970,8816,12154,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b.GEN.001.004,GEN,001,GEN.001,historical,4222,2286,1936,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b.GEN.001.005,GEN,001,GEN.001,historical,3208,1666,1542,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31060,b.REV.022.017,REV,022,REV.022,apocalyptic,8693,4633,4060,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31061,b.REV.022.018,REV,022,REV.022,apocalyptic,4396,1939,2457,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31062,b.REV.022.019,REV,022,REV.022,apocalyptic,3947,1952,1995,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31063,b.REV.022.020,REV,022,REV.022,apocalyptic,11981,6014,5967,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31064,b.REV.022.021,REV,022,REV.022,apocalyptic,10466,3780,6686,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
binary_tokens_df.index.tolist() == verses_features["bible_identifier"].tolist()

True

                  !  "  '  (  )  ,  -  .  000
verse_id
b.GEN.001.001  1  0  0  0  0  0  0  0  1    0
b.GEN.001.002  1  0  0  0  0  0  1  0  1    0
b.GEN.001.003  1  0  0  0  0  0  0  0  1    0
b.GEN.001.004  1  0  0  0  0  0  1  0  1    0
b.GEN.001.005  1  0  0  0  0  0  1  0  1    0
...           .. .. .. .. .. .. .. .. ..  ...
b.REV.022.017  1  1  0  0  0  0  1  0  1    0
b.REV.022.018  1  0  0  0  0  0  1  0  1    0
b.REV.022.019  1  0  0  0  0  0  1  0  1    0
b.REV.022.020  1  1  0  0  0  0  1  0  1    0
b.REV.022.021  1  0  0  0  0  0  0  0  1    0

[31065 rows x 10 columns]

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [50]:
np.log(verses_features["twitter_freq_sum_2014_2015"]).min()

-inf

In [53]:
verses_features["twitter_freq_sum_log_2014_2015"] = transform_data.calculate_log(verses_features[["twitter_freq_sum_2014_2015"]])

In [86]:
len(verses_features.columns.tolist())

4168

In [113]:
features_df = transform_data.calculate_log(verses_features[verses_features.columns.tolist()[262:2000]].fillna(0))

In [114]:
features_df

,#tim3,#per14,#pla41,number of entities referred,number of different entities referred,number of people,number of different number of people,number of groups,number of different number of groups,number of places,...,#per824,#per825,#per826,#per827,#per828,#per829,#per834,#per830,#per831,#per832
0,0.0,0.000000,0.0,1.098612,1.098612,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,1.098612,1.098612,0.693147,0.693147,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.693147,0.0,1.098612,0.693147,0.693147,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.693147,0.0,1.609438,1.098612,0.693147,0.000000,0.693147,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31060,0.0,0.000000,0.0,1.945910,1.386294,1.386294,0.693147,1.098612,0.693147,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31061,0.0,0.000000,0.0,1.386294,0.693147,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31062,0.0,0.000000,0.0,1.791759,1.386294,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31063,0.0,0.000000,0.0,1.386294,0.693147,1.386294,0.693147,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31064,0.0,0.000000,0.0,0.693147,0.000000,0.693147,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [129]:

#

#X_train, X_test, y_train, y_test = train_test_split(features_df, verses_features["twitter_freq_sum_log_2014_2015"], random_state=42)

X_train, X_test, y_train, y_test = train_test_split(binary_tokens_df.iloc[:,0:2000], verses_features["twitter_freq_sum_log_2014_2015"], random_state=42)

In [130]:
lr = LinearRegression().fit(X_train, y_train)

In [131]:
print("lr.coef_: {}".format(lr.coef_))
print("lr.intercept_: {}".format(lr.intercept_))

lr.coef_: [ 6.31877251e+12 -1.02835768e-01  1.45188606e-01 ...  5.62184252e-02
 -1.93714323e+00  6.04371807e-01]
lr.intercept_: -6318772512315.473

In [132]:
print("Training set score: {:.2f}".format(lr.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lr.score(X_test, y_test)))

Training set score: 0.52
Test set score: 0.45

In [133]:
from sklearn.linear_model import Ridge

In [134]:
ridge = Ridge().fit(X_train, y_train)
print("Training set score: {:.2f}".format(ridge.score(X_train, y_train)))
print("Test set score: {:.2f}".format(ridge.score(X_test, y_test)))

Training set score: 0.52
Test set score: 0.45

In [135]:
ridge01 = Ridge(alpha=1).fit(X_train, y_train)
print("Training set score: {:.2f}".format(ridge01.score(X_train, y_train)))
print("Test set score: {:.2f}".format(ridge01.score(X_test, y_test)))

Training set score: 0.52
Test set score: 0.45

In [136]:
from sklearn.linear_model import Lasso
lasso = Lasso().fit(X_train, y_train)
print("Training set score: {:.2f}".format(lasso.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso.coef_ != 0)))

Training set score: 0.00
Test set score: -0.00
Number of features used: 0

In [137]:
lasso001 = Lasso(alpha=0.01, max_iter=100000).fit(X_train, y_train)
print("Training set score: {:.2f}".format(lasso001.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso001.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso001.coef_ != 0)))

Training set score: 0.25
Test set score: 0.25
Number of features used: 69

In [138]:
lasso00001 = Lasso(alpha=0.0001, max_iter=1000000).fit(X_train, y_train)
print("Training set score: {:.2f}".format(lasso001.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso001.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso001.coef_ != 0)))

Training set score: 0.25
Test set score: 0.25
Number of features used: 69

In [139]:
lasso001 = Lasso(alpha=0.01, max_iter=100000).fit(X_train, y_train)
print("Training set score: {:.2f}".format(lasso001.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso001.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso001.coef_ != 0)))

Training set score: 0.25
Test set score: 0.25
Number of features used: 69

In [140]:
from sklearn.tree import DecisionTreeRegressor
# use historical data to forecast prices after the
tree = DecisionTreeRegressor().fit(X_train, y_train)
print("Training set score: {:.2f}".format(tree.score(X_train, y_train)))
print("Test set score: {:.2f}".format(tree.score(X_test, y_test)))

Training set score: 1.00
Test set score: -0.04

In [141]:
from sklearn.linear_model import ElasticNetCV
elasticNetCV = ElasticNetCV().fit(X_train, y_train)
print("Training set score: {:.2f}".format(elasticNetCV.score(X_train, y_train)))
print("Test set score: {:.2f}".format(elasticNetCV.score(X_test, y_test)))

Training set score: 0.51
Test set score: 0.46