In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
from lxml import etree

In [2]:
df = pd.read_parquet("./../../../resulting data/verses_features.parquet")

In [3]:
df.head()

,bible_identifier,bible_book,bible_chapter,bible_book_chapter,genre,twitter_freq_sum_2014_2015,twitter_freq_2014,twitter_freq_2015,relations,monogamy,...,#org35,#org439,#pla65,#pla68,#per116,#per119,#pla67,#org52,#per129,#pla74
0,b.GEN.001.001,GEN,001,GEN.001,historical,49268,26376,22892,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b.GEN.001.002,GEN,001,GEN.001,historical,8601,3693,4908,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b.GEN.001.003,GEN,001,GEN.001,historical,20970,8816,12154,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b.GEN.001.004,GEN,001,GEN.001,historical,4222,2286,1936,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b.GEN.001.005,GEN,001,GEN.001,historical,3208,1666,1542,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(31065, 4167)

In [5]:
df["bible_book"].unique()

array(['GEN', 'EXO', 'LEV', 'NUM', 'DEU', 'JOS', 'JDG', 'RUT', '1SA',
       '2SA', '1KI', '2KI', '1CH', '2CH', 'EZR', 'NEH', 'EST', 'JOB',
       'PSA', 'PRO', 'ECC', 'SON', 'ISA', 'LAM', 'JER', 'EZE', 'DAN',
       'HOS', 'JOE', 'AMO', 'OBA', 'JON', 'MIC', 'NAH', 'HAB', 'ZEP',
       'HAG', 'ZEC', 'MAL', 'MAT', 'MAR', 'LUK', 'JOH', 'ACT', 'ROM',
       '1CO', '2CO', 'GAL', 'EPH', 'PHI', 'COL', '1TH', '2TH', '1TI',
       '2TI', 'TIT', 'PHM', 'HEB', 'JAM', '1PE', '2PE', '1JO', '2JO',
       '3JO', 'JUD', 'REV'], dtype=object)

In [6]:
#df.fillna(0, inplace=True)

In [7]:
df.columns.tolist()[0:10]

['bible_identifier',
 'bible_book',
 'bible_chapter',
 'bible_book_chapter',
 'genre',
 'twitter_freq_sum_2014_2015',
 'twitter_freq_2014',
 'twitter_freq_2015',
 'relations',
 'monogamy']

In [8]:
structural_features = df.columns.tolist()[265:297]

In [9]:
sexual_features = df.columns.tolist()[8:262]

In [10]:
len(df)

31065

In [11]:
entities_features = df.columns.tolist()[262:265] + df.columns.tolist()[298:len(df)]

In [12]:
df.loc[df["bible_identifier"] == "b.SON.001.010"]["#per39"]

17547    1.0
Name: #per39, dtype: float64

In [ ]:
df.describe()

In [ ]:
#rel_books_df = books_df.div(books_df["number of verses"], axis="index")

In [ ]:
entities_df = pd.read_excel("./../../../entities.xls")

In [ ]:
entities_df.index = entities_df["id"]

In [ ]:
df.index = df["bible_identifier"]

In [ ]:
bible_tree = etree.parse('./../../../sexual-annotation/TEIBible.xml').getroot()

# Visualizations

In [ ]:
[feature for feature in sexual_features if "aspect" in feature]

In [ ]:
verses_with_missing_polarity_df = df.loc[(df[sexual_features].sum(axis = 1) > 1) & (df[['blessed-aspect',
 'positive-aspect',
 'neutral-aspect',
 'negative-aspect',
 'condemned-aspect']].sum(axis = 1) == 0) ]

In [21]:
verses_with_missing_polarity_df

NameError: name 'verses_with_missing_polarity_df' is not defined

In [22]:
namespaces = {'tei':'http://www.tei-c.org/ns/1.0'}

In [ ]:
for verse in

In [32]:
bible_tree.xpath('//tei:ab[@type="verse"]//text()', namespaces = namespaces, with_tail = True)